*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #3d3838;
}

header{
    margin: 20px 0px;
    padding: 15px 15px;
    width: 100%;
}

h1{
    width: 100%;
    color: #db0707;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

aside{
    text-align: center;
    width: 400px;
    margin-top: 50px;
}

p{
    font-size: 32px;
    position: relative;
}

.spn1{
    color: #fe5805;
    font-weight: 900;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
}

.spn2{
    color: #fe0505;
    font-weight: 900;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.p1{
    color: rgb(255, 0, 51);
}

form{
    width: 400px;
    height: 300px;
    background-color: rgba(90, 236, 236, 0.527);
    border-radius: 20px;
    align-items: center;
    margin-left: 550px;
    margin-top: 45px;
}

h2{
    color: blue;
    font-size: 35px;
    margin-top: -240px;
}

input{
    width: 250px;
    height: 35px;
    margin: 7px 20px;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 2px;
}

input:hover{
    color: #000000;
    border: 1px solid #3d3838;
}

button{
    margin: 10px 15px;
    padding: 7px 15px;
    font-size: 18px;
    color: #fe5805;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    color: #fff;
    background-color: #fe5805;
}

.fget{
    margin: 7px 5px;
}

.log_up{
    margin: 20px;
}